<header>
    <nav class="header-nav">
        <a class="header-title" href = "/">Filmogram </a>
        <ul>
            <li ><a href = "/movies">Films </a></li>
            <li  ><a href = "/movies/new">Add Film </a></li>


        </ul>
    </nav>


</header>