<div class="form-row">
    <div class="form-item">
        <label>Title </label>
        <input type= "text" name="name" value="<%= movie.name%>">
    </div>
    <div class="form-item">
        <label>Director </label>
        <input type= "text" name="director" value="<%= movie.director%>">
    </div>
  </div>
  
  <div class="form-row">
    <div class="form-item">
        <label>Release Date </label>
        <input type= "date" name="releaseDate" 
            value="<%= movie.releaseDate == null ? '' : movie.releaseDate.toISOString().split('T')[0] %>">
    </div>
  </div>
  
  <div class="form-row">
    <div class="form-item form-item-no-grow">
        <label>Cover </label>
        <input type= "file" name="cover" class="movie-cover filepond">
    </div>
    <div class="form-item">
        <label>Description </label>
        <textarea name="description"><%= movie.description %></textarea>
    </div>
  </div>


